@model List<PizzaApp.Models.Guest>
@{
    ViewBag.Title = "SearchGuest";
}

<h2>SearchGuest</h2>
<table class="table">
    <thead>
        <tr>
            <th>Név</th>
            <th>Telefon</th>
            <th>Lakcím</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@Html.DropDownListFor(a => item.Addresses, new SelectList(item.Addresses,"Id", "GuestAddress"), new { @class = "form-control" })</td>
                <td>@Html.ActionLink("Vendég Adatai és rendelés leadása","ShowGuest","Guest", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>

</table>