@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pizza App</h1>
    <p class="lead">Ez az app egy fiktív pizza kiszállító cég számára készült,
    ami segít a pizzériában dolgozó asszisztensnek a rendelés felvételében és a kiszállítás kezelésében.</p>  
    <p class="lead">
        Redelést leadni a vendégek keresése után lehet. 
        <div>(A keresésőmotor lehetővé teszi, hogy a név egy része alapján is megtatlálja az adott személyt.)</div>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rendelés</h2>
        <p>
            Rendelni, a vendég keresése után tudunk. Vendég kiválasztása után a cím megadása következeik, ezután pedig a pizzákat választhatjuk ki.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Új személy regisztrálása</h2>
        <p>
            Ha a keresésünk sikertelen akkor rögtön az új személy regisztrációja következik.
            Keresés nélkül is tudunk új személyt regiszrálni, ilyenkor az új személy regisztrálás menüpontra kell kattintanunk.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aktív rendelések</h2>
        <p>
            Aktív rendeléske menüpontban futárt tudunk rendelni a rendelésekhez. Ha a futár kapacitása határait elérte,
            és nem tudna több pizzát szállítani, ilyenkor őt már nem tudjuk új rendeléshez hozzárendelni.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Futárok</h2>
        <p>
            A futárok menüpontban, futárok állapotait figyelhetjük, illetve elküldhetjük őket pizzát szállítani. 
            Ez esetben az adott futárhoz tartozó rendelések státusza megváltozik KIKÜLDÖTT-re. Visszaérkezés esetép pedig eltűnnek a rendelések az aktív rendelések közül.
            Ez után az összes rendelésben nézhetjük meg a kiszállított rendeléseket.
        </p>
    </div>
</div>